<div class="container">
    <div class="login-container">
        <mat-card>
            <form class="form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Enter Email</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Enter Password</mat-label>
                    <input matInput type="password">
                </mat-form-field>

                <button mat-raised-button color="primary">Login</button>
            </form>
        </mat-card>
    </div>
</div>