.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding-top: 25%;
  justify-content: center;
}
.login-container {
  justify-content: center;
  display: flex;
  max-width: 450px;
}
