<div class="container">
    <div class="login-container">

        <mat-card>
            <h4>{{title}}</h4>
            <div class="form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Enter Email</mat-label>
                    <input matInput [(ngModel)]="email">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Enter Password</mat-label>
                    <input matInput type="password" [(ngModel)]="password">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="login()">Login</button>
            </div>
        </mat-card>
    </div>

    {{email}}
</div>